html {
    height: 100vh !important;
}

body {
    height: 100vh !important;
}

.top-img {


    box-shadow: 7px 7px 6px #c2c2c2,
        -7px -7px 6px #ffffff;

}

.mob {
    display: none !important;
}

.navbar {
    padding: 0.5em 1em 0em 1em;


}

.navbar-nav {
    padding-left: 3em;
    width: 100%;
}

.nav-div {
    width: 100% !important;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #000;
}

.navbar-brand>.img-fluid {
    width: 4em
}

.main-nav {
    margin-top: 0.7em;
    width: 100%;
}

.top {
    background-image: url("./images/img6.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 60vh !important;
    color: #ffffff;
    font-family: 'Goldman', cursive;

}

.top>.d-flex>h1 {
    font-size: 5em !important
}

.who>h1 {
    text-align: center;
    padding: 2em;

}

.who>.right>.img-fluid {
    margin-top: -4em;
}

.who>.left {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    margin-top: 1em;
}

.products {}

.products>h1 {
    text-align: center;
    padding: 0.5em;
    background-image: linear-gradient(to right, #0f1e31, #435179);
    color: #ffffff;
    font-family: 'Goldman', cursive;
    margin-bottom: 1em;

}

.service>.d-flex {
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 3em;
}

.service>.d-flex>p {
    margin-top: 0.3em;
    margin-left: 0.5em;
}

.fa-solid {
    font-size: 2em;
}

.fa-computer {
    color: orange;

}

.fa-database {
    color: #c2c2c2;
}

.fa-handshake {
    color: rgb(250, 213, 5);
}

.fa-lock {
    color: rgb(9, 140, 248);
}

.fa-list-check {
    color: #00f989;
}

.fa-users {
    color: orange;
}

.hard-left>p {
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
}

.hard-right {
    background-image: url("./images/img8.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hardware>h1 {
    text-align: center;
    padding: 0.5em;
    background-image: linear-gradient(to right, #0f1e31, #435179);
    color: #ffffff;
    font-family: 'Goldman', cursive;
    margin-bottom: 1em;

}

.sales>h1 {
    text-align: center;
    padding: 0.5em;
    background-image: linear-gradient(to right, #0f1e31, #435179);
    color: #ffffff;
    font-family: 'Goldman', cursive;
    margin-bottom: 1em;
    margin-top: 1em;
}

.sales>.d-flex>.fa-solid {
    color: #4C9BF6 !important;
}

.sales>.d-flex {
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 3em;
}

.sales>.d-flex>p {
    margin-top: 0.3em;
    margin-left: 0.5em;
}

.store-left>p {
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
}

.store-right {
    background-image: url("./images/img9.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.storage>h1 {
    text-align: center;
    padding: 0.5em;
    background-image: linear-gradient(to right, #0f1e31, #435179);
    color: #ffffff;
    font-family: 'Goldman', cursive;
    margin-bottom: 1em;

}

.support-left>p {
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
    border-top: #4C9BF6 2px solid;
    padding-top: 1em;
}

.support-right {
    background-image: url("./images/img10.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.support>h1 {
    text-align: center;
    padding: 0.5em;
    background-image: linear-gradient(to right, #0f1e31, #435179);
    color: #ffffff;
    font-family: 'Goldman', cursive;
    margin-bottom: 1em;
    margin-top: 1em;
}

.outsourced {
    margin-top: 2em;
}

.out-left {
    margin-top: 7em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
}

.out-left>h1 {
    color: #66AAF7;
    font-size: 2em;
}

.promoters {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
}

.promoters>h1 {
    text-align: center;
    padding: 0.5em;
    background-color: #333333;
    color: #ffffff;
    font-family: 'Goldman', cursive;
    margin-bottom: 1em;
    margin-top: 1em;
}

.promoters>.col-lg-5 {
    margin: 2em 3em;
}

.promoters>.col-lg-5>h1 {

    color: #66AAF7;
    font-size: 2em;

}

.footer {
    background-image: url("./images/img4.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 30em;
}